html {
    font-family: Arial;
    color:white;
    background-color: black;
}
body {
    display: flex;
    justify-content: center;
}
.button {
    color:white;
    background-color: black;
}
.center-panel {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-display {
    margin: 1.0em;
    font-size: x-large;
    font-weight: bold;
}
.side-panel {
    margin: 1.0em;
    font-size: small;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.control-mode {
    color: inherit;
}
.set-temp-display {
    text-align: center;
}
.centered-link {
    text-align:center
}
.control-arrow {
    border: solid white;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 4px;
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
/* .bottom-bar {
    
} */
.bottom-bar .nav-list-items {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .bottom-bar .nav-list-items .item {

} */
.bottom-bar .nav-list-items .item .page {
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}